.main-entry{
 display: grid;
 width: 100%;
 height: 100vh;
 background: #eeeef1;
 grid-template-columns: 200px auto;
 grid-template-rows: 60px auto 60px;
 grid-column-gap: 1px;
 grid-row-gap: 1px ;
}
.scrollable{
position: relative;
/*overflow-y: scroll;*/
/*-webkit-overflow-scrolling: touch;*/
}
.sidebar{
padding: 4% 1%;
background: white;
grid-row-start: 1;
grid-row-end: span 3;
}
.content{
    padding: 3% 5%;
    background: white;
    grid-row-start: 1;
    grid-row-end: span 3;
}